<%= form.fields_for :passengers, local_passenger, child_index: child_index do |passenger_field| %>
  <%= form.hidden_field :flight_id, value: flight.id %>
    <div class="passenger-field">
      <%= passenger_field.hidden_field :_destroy, data: { passenger_target: "destroyFlag"} %>
      <div class="form-field">
        <%= passenger_field.label :name, "Name of Passenger" %>
        <%= passenger_field.text_field :name, 
                                        required: true,
                                        placeholder: "Bobby Chen" %>
      </div>
      <div class="form-field">
        <%= passenger_field.label :email, "Email of Passenger" %>
        <%= passenger_field.email_field :email, 
                                        required: true,
                                        placeholder: "Bobby@gmail.com" %> 
      </div>
    </div> 
<% end %>