<%= form_with model: @booking do |form| %>
  <h1>Flight ID: <%= params[:flight_id] %></h1>
  <div class='booking-details'>
    <h2>Flight Details:</h2> 
    <div>
      <%= @flight.origin_airport.code  %> To <%= @flight.destination_airport.code %><br>
        Duration of flight is <%= @flight.flight_duration %> minutes <br>
        Departure date and time: <%= @flight.departure_time %><br>
    </div>
    Number of Passengers: <%= @num_of_passengers %>
   

    <%= form.fields_for :passengers do |passenger_field| %>
      <%= form.hidden_field :flight_id, value: @flight.id %>
      <div class="passenger-field">
        <div class="form-field">
          <%= passenger_field.label :name, "Name of Passenger" %>
          <%= passenger_field.text_field :name, 
                                          required: true,
                                          placeholder: "Bobby Chen" %>
        </div>
        <div class="form-field">
          <%= passenger_field.label :email, "Email of Passenger" %>
          <%= passenger_field.email_field :email, 
                                          required: true,
                                          placeholder: "Bobby@gmail.com" %> 
        </div><br>
      </div> 
    <% end %>

  </div>

  <%= form.submit "Finalize Booking" %>
<% end %>