<%= form_with model: @booking do |form| %>
  <% if @booking.errors.any? %>
    <div>
      <%= pluralize(@booking.errors.count, "Error") %> prohibited this booking from being saved
      <ul>
        <% @booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Flight ID: <%= params[:flight_id] %></h1>
  <div class='booking-details'>
    <h2>Flight Details:</h2> 
    <div>
      <%= @flight.origin_airport.code  %> To <%= @flight.destination_airport.code %><br>
        Duration of flight is <%= @flight.flight_duration %> minutes <br>
        Departure date and time: <%= @flight.departure_time %><br>
    </div>
    Number of Passengers: <%= @num_of_passengers %>
   

    <%= render partial: 'passenger_fields',
               locals: {form: form,
                        local_passenger: nil,
                        child_index: nil,
                        flight: @flight } %>

  </div>
  <div data-controller="passenger">
    <div data-passenger-target="newPassengerFormContainer">
    </div>
    <br>
    <button data-action="click->passenger#addPassengerField">
      Add another passenger
    </button>
    <template data-passenger-target="passengerForm">
      <%= form_with model: @booking do |form| %>
        <%= render partial: 'passenger_fields',
                  locals: { form: form, 
                            local_passenger: Passenger.new,
                            child_index: 'NEW_RECORD',
                            flight: @booking.flight } %>
      <% end %>
      <button 
        data-passenger-target = "destroyButton"
        data-action="click->passenger#deletePassengerField">
        Delete Passenger
      </button>
    </template>
  </div>

  <%= form.submit "Finalize Booking" %>
<% end %>