<h1>Thank you for booking this flight</h1>
<h2>Booking Confirmation:</h2>

<p>Flight Number: <%= @booking.flight_id %><br>
<h2>Flight Details:</h2> 
    <div>
      <%= @booking.flight.origin_airport.code  %> To <%= @booking.flight.destination_airport.code %><br>
        Duration of flight is <%= @booking.flight.flight_duration %> minutes <br>
        Departure date and time: <%= @booking.flight.departure_time %><br>
    </div>
<h2><%= pluralize(@booking.passengers.size,'Passenger') %></h2>
<% @booking.passengers.each_with_index do |passenger, index| %>
  <div>
    <% if @booking.passengers.size > 1 %>
      <p>Passenger <%="#{index + 1}"%> Name: <%= passenger.name %></p>
      <p>Passenger <%="#{index + 1}"%> Email: <%= passenger.email %></p><br>
    <% else %>
      <p>Passenger Name: <%= passenger.name %></p>
      <p>Passenger Email: <%= passenger.email %></p>
    <% end %>
  </div>
<% end %>

<div data-controller="passenger">
  <div data-passenger-target="newPassengerContainer"></div>
  <button data-action="click->passenger#addPassenger">
    Add another passenger
  </button>
  <template data-passenger-target="passengerForm">
    <%= form_with model: @booking do |form| %>
      <%= form.fields_for :passengers do |passenger_field| %>
        <%= form.hidden_field :flight_id, value: @booking.flight.id %>
          <div class="passenger-field">
            <div class="form-field">
              <%= passenger_field.label :name, "Name of Passenger" %>
              <%= passenger_field.text_field :name, 
                                              required: true,
                                              placeholder: "Bobby Chen" %>
            </div>
            <div class="form-field">
              <%= passenger_field.label :email, "Email of Passenger" %>
              <%= passenger_field.email_field :email, 
                                              required: true,
                                              placeholder: "Bobby@gmail.com" %> 
            </div><br>
          </div> 
      <% end %>
    <% end %>
  </template>
</div>