<h1>Thank you for booking this flight</h1>
<h2>Booking Confirmation:</h2>

<p>Flight Number: <%= @booking.flight_id %><br>
<h2>Flight Details:</h2> 
    <div>
      <%= @booking.flight.origin_airport.code  %> To <%= @booking.flight.destination_airport.code %><br>
        Duration of flight is <%= @booking.flight.flight_duration %> minutes <br>
        Departure date and time: <%= @booking.flight.departure_time %><br>
    </div>
<h2><%= pluralize(@booking.passengers.size,'Passenger') %></h2>
<% @booking.passengers.each_with_index do |passenger, index| %>
  <div>
    <% if @booking.passengers.size > 1 %>
      <p>Passenger <%="#{index + 1}"%> Name: <%= passenger.name %></p>
      <p>Passenger <%="#{index + 1}"%> Email: <%= passenger.email %></p><br>
    <% else %>
      <p>Passenger Name: <%= passenger.name %></p>
      <p>Passenger Email: <%= passenger.email %></p>
    <% end %>
  </div>
<% end %>

<div data-controller="passenger">
  <div data-passenger-target="newPassengerContainer"></div>
  <button data-action="click->passenger#addPassengerField">
    Add another passenger
  </button>
  <button data-action="click->passenger#deletePassengerField">
    Delete Passenger
  </button>
  <template data-passenger-target="passengerForm">
    <%= form_with model: @booking do |form| %>
      <%= render partial: 'passenger_fields',
                 locals: { form: form, 
                           local_passenger: Passenger.new,
                          flight: @booking.flight } %>
      <%= form.submit "Finalize Booking" %>
    <% end %>
  </template>
</div>